body {
    background-color: lightblue;
  }
  
  h1 {
    color: white;
    text-align: center;
  }
  
  p {
    font-family: verdana;
    font-size: 20px;
  }

 <header>
    <h2><a href= '# class="mark mangayao">CSS</a></h2>

    <div class="navigation">
    <a href="#>Home</a>
    <a href="#>About</a>

  font-family: Tahoma, Verdana, sans-serif;

